KICK_CLIENT_ID=
KICK_CLIENT_SECRET=
KICK_REDIRECT_URI=https://slum.gg/auth/auth/callback
mongo_url="mongodb://127.0.0.1?retryWrites=true&writeConcern=majority"
webhook_base_url=https://slum.gg/wh
webhook_url=https://slum.gg/wh/webhook
web_port=3000
webhook_port=3001
session_secret=
